@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Powered by .NET Core 5.0.100-preview.8</a>.</p>
</div>
